# Ignore macOS system files
.DS_Store

# Ignore node_modules folder (for Node.js projects)
node_modules/

# Ignore compiled Python files
*.pyc
__pycache__/

# Ignore log files
*.log

# Ignore environment files
.env

# Ignore VSCode settings
.vscode/

# Ignore coverage reports
coverage/

#Ignore pdf
.pdf
